.header-logo{
    font-size: 50px;
    color: orangered;
}



.content1{
    color: rgba(252, 252, 8, 0.972);
    font-size: 35px;
    font-style: unset;
}

.content2{
    color: rgb(23, 228, 67);
    font-size: 35px;



font-style: unset;
}


.content3{
    color: rgb(10, 219, 202);
    font-size: 35px;
font-style: unset;

}
.content4{
    color: rgb(170, 16, 241);
    font-size: 35px;
font-style: unset;

}
.content5{
    color: rgb(9, 84, 247);
    font-size: 35px;
font-style: unset;

}

















footer{
    margin-top: 60px;
}




    
